[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/4.2%20ETF%20%EC%A0%84%EC%B2%98%EB%A6%AC-input.ipynb)

* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn) 에서 수집한 데이터를 전처리 합니다.
* keyword
    * rename column
    * .map(lambda x : x)
    * text data
        * str.contains()
        * str.replace()
        * str.split("구분자", expand=True)
        * str[:]

## 데이터 로드와 요약

In [1]:
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy라이브러리를 로드합니다.
import pandas as pd
import numpy as np

In [73]:
# 이전 실습에서 저장한 파일명을 file_name에 적어주세요.
file_name = "eft_20211017_raw.csv"
file_name

'eft_20211017_raw.csv'

In [13]:
# 이전 수업에서 수집해서 저장해둔 csv 파일을 읽어옵니다.
# itemcode 숫자 앞의 0 이 지워진다면 dtype={"itemcode": np.object} 로 타입을 지정해 주면 문자형태로 읽어옵니다.
# df
df = pd.read_csv('etf_20211017_raw.csv', dtype={"itemcode":np.object})
df.shape

(512, 12)

In [6]:
# 인덱스 번호 상단 5개의 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,39420,2,400,1.03,39436.0,-9.6680,2570170,101274,48270
1,371460,4,TIGER 차이나전기차SOLACTIVE,17850,2,440,2.53,NaN,7.2716,8417623,148973,22977
2,102110,1,TIGER 200,39460,2,415,1.06,39472.0,-9.6074,430561,16985,21466
3,153130,6,KODEX 단기채권,102965,5,-5,0.00,102964.0,0.1215,10120,1041,21277
4,252670,3,KODEX 200선물인버스2X,2245,5,-50,-2.18,2239.0,20.0534,187196187,421296,19906

In [7]:
# 인덱스 하단의 5개 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
507,397420,6,KBSTAR 국채선물5년추종,49040,2,10,0.02,49018.0,NaN,3,0,24
508,334700,5,KBSTAR 팔라듐선물인버스(H),5270,2,65,1.25,NaN,23.5638,3110,16,21
509,287330,2,KBSTAR 200생활소비재,8285,2,75,0.91,8298.0,-10.0923,2404,19,20
510,287310,2,KBSTAR 200경기소비재,11425,2,25,0.22,11416.0,-6.0058,217,2,16
511,287320,2,KBSTAR 200산업재,11900,2,115,0.98,11893.0,-10.8615,56,0,14

In [8]:
# info를 통해서 각 column들의 데이터타입과 결측치, 메모리 사용량 등을 볼 수 있습니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            512 non-null    object
 1   etfTabCode          512 non-null    int64
 2   itemname            512 non-null    object
 3   nowVal              512 non-null    int64
 4   risefall            512 non-null    int64
 5   changeVal           512 non-null    int64
 6   changeRate          512 non-null    float64
 7   nav                 363 non-null    float64
 8   threeMonthEarnRate  482 non-null    float64
 9   quant               512 non-null    int64
 10  amonut              512 non-null    int64
 11  marketSum           512 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 48.1+ KB

* 웹사이트의 ETF 정보와 비교하며 어떤 컬럼이 어떤 값인지 확인합니다. 
* https://finance.naver.com/sise/etf.nhn

In [14]:
# https://finance.naver.com/sise/etf.nhn 에서 값을 비교해보면 quant는 거래량임을 알 수 있습니다.
# 거래량(quant) 기준으로 내림차순으로 정렬하여 상위 10개의 데이터를 봅니다.

df.sort_values(by='quant', ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
4,252670,3,KODEX 200선물인버스2X,2245,5,-50,-2.18,2239.0,20.0534,187196187,421296,19906
13,114800,3,KODEX 인버스,4070,5,-45,-1.09,4065.0,10.0000,32468613,132306,11376
32,251340,3,KODEX 코스닥150선물인버스,4340,5,-10,-0.23,4348.0,1.5204,26365179,114691,4700
5,122630,3,KODEX 레버리지,23535,2,485,2.10,23620.0,-18.7608,19143272,449886,19299
1,371460,4,TIGER 차이나전기차SOLACTIVE,17850,2,440,2.53,NaN,7.2716,8417623,148973,22977
20,233740,1,KODEX 코스닥150 레버리지,14870,2,90,0.61,15033.0,-7.4674,7626923,112963,8461
88,252710,3,TIGER 200선물인버스2X,2340,5,-50,-2.09,2328.0,20.9302,6745079,15783,1280
0,069500,1,KODEX 200,39420,2,400,1.03,39436.0,-9.6680,2570170,101274,48270
6,214980,6,KODEX 단기채권PLUS,103275,2,5,0.00,103278.0,0.1260,2522411,260501,18504
25,394670,4,TIGER 글로벌리튬&2차전지SOLACTIVE(합성),11450,2,330,2.97,NaN,NaN,2050621,23263,6902

In [15]:
# etfTabCode column의 데이터 구성을 살펴봅니다.
# 추후 알게되겠지만 etfTabCode는 해당 사이트에서 
# 전체(0), 국내 시장지수(1), 국내 업종/테마(2), 국내 파생(3) ~
# 해외 주식(4), 원자재(5), 채권(6), 기타(7)로 자료가 구분되어 있습니다.
df['etfTabCode'].value_counts().sort_index()

1     67
2    191
3     31
4    118
5     14
6     60
7     31
Name: etfTabCode, dtype: int64

In [16]:
# pandas 의 boolean Indexing을 사용해서
# 국내 시장지수(etfTabCode == 1)의 데이터들만 확인하여 봅니다.
# 조건문의 결과가 Index와  True, False 로 나오기 때문에 boolean Indexing 이라 부릅니다.
df[df['etfTabCode'] == 1]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,39420,2,400,1.03,39436.0,-9.6680,2570170,101274,48270
2,102110,1,TIGER 200,39460,2,415,1.06,39472.0,-9.6074,430561,16985,21466
12,278530,1,KODEX 200TR,12890,2,130,1.02,12913.0,-9.7971,76484,986,11678
16,148020,1,KBSTAR 200,39500,2,415,1.06,39526.0,-9.5883,151047,5970,10724
17,278540,1,KODEX MSCI Korea TR,12555,2,140,1.13,12558.0,-10.2253,481525,6040,10107
...,...,...,...,...,...,...,...,...,...,...,...,...
419,391670,1,HK 베스트일레븐액티브,9600,2,35,0.37,9593.0,-3.0304,1061,10,72
432,391680,1,HK 하이볼액티브,9075,2,70,0.78,9114.0,-8.7482,21849,198,68
469,295820,1,ARIRANG 200동일가중,11795,2,115,0.98,11782.0,-4.1447,368,4,53
479,275750,1,KBSTAR 코스닥150선물인버스,4595,5,-10,-0.22,4586.0,1.6592,18041,82,48
505,301400,1,ARIRANG 코스닥150,14350,2,40,0.28,14492.0,-4.3653,486,6,29

## 데이터 전처리
### etfTabName 만들기

In [21]:
# etf name을 구분하기 위한 list를 만듭니다.
# """ 를 이용해 \n을 포함하는 string을 만들고 split으로 나누어서 list를 간편히 만들수 있습니다.
etfcode = """전체
국내 시장지수
국내 업종/테마
국내 파생
해외 주식
원자재
채권
기타"""
etfcode

'전체\n국내 시장지수\n국내 업종/테마\n국내 파생\n해외 주식\n원자재\n채권\n기타'

In [26]:
# split으로 나누어 list형 데이터를 만듭니다.
etf_tab_name = etfcode.split('\n')
etf_tab_name

['전체', '국내 시장지수', '국내 업종/테마', '국내 파생', '해외 주식', '원자재', '채권', '기타']

In [29]:
etf_tab_name[2]

'국내 업종/테마'

#### 참고. """ 사용 시 불필요한 공백이 생기는 경우"""

In [23]:
etfcode_ = """
전체
국내 시장지수
국내 업종/테마
국내 파생
해외 주식
원자재
채권
기타
"""
etfcode_

'\n전체\n국내 시장지수\n국내 업종/테마\n국내 파생\n해외 주식\n원자재\n채권\n기타\n'

In [24]:
etfcode_.split('\n')

['', '전체', '국내 시장지수', '국내 업종/테마', '국내 파생', '해외 주식', '원자재', '채권', '기타', '']

In [30]:
def find_etf_tab_name(no):
    return etf_tab_name[no]

find_etf_tab_name(2)

'국내 업종/테마'

In [35]:
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,39420,2,400,1.03,39436.0,-9.6680,2570170,101274,48270
1,371460,4,TIGER 차이나전기차SOLACTIVE,17850,2,440,2.53,NaN,7.2716,8417623,148973,22977
2,102110,1,TIGER 200,39460,2,415,1.06,39472.0,-9.6074,430561,16985,21466
3,153130,6,KODEX 단기채권,102965,5,-5,0.00,102964.0,0.1215,10120,1041,21277
4,252670,3,KODEX 200선물인버스2X,2245,5,-50,-2.18,2239.0,20.0534,187196187,421296,19906
...,...,...,...,...,...,...,...,...,...,...,...,...
507,397420,6,KBSTAR 국채선물5년추종,49040,2,10,0.02,49018.0,NaN,3,0,24
508,334700,5,KBSTAR 팔라듐선물인버스(H),5270,2,65,1.25,NaN,23.5638,3110,16,21
509,287330,2,KBSTAR 200생활소비재,8285,2,75,0.91,8298.0,-10.0923,2404,19,20
510,287310,2,KBSTAR 200경기소비재,11425,2,25,0.22,11416.0,-6.0058,217,2,16
511,287320,2,KBSTAR 200산업재,11900,2,115,0.98,11893.0,-10.8615,56,0,14

In [39]:
# etfTabName 이름이 직관적이지 않기 때문에 한글로 변경해 줍니다.
# map과 lambda 함수를 이용하여 eftTabCode column들의 각 cell의 내용에 따라
# etf_tab_name list의 원소값에 따라 이름을 만들어 주고 etfTabName 이라는 새로운 컬럼을 생성합니다.
# 즉 etfTabCode 숫자 -> list의 원소 인덱스로 한글 이름을 매핑해 줍니다. -> etfTabName에 한글로 저장
df['etfTabName'] = df["etfTabCode"].map(lambda x: etf_tab_name[x])

In [41]:
df.loc[df['etfTabCode'] == 1, ['itemname', 'etfTabName']]

                itemname etfTabName
0              KODEX 200    국내 시장지수
2              TIGER 200    국내 시장지수
12           KODEX 200TR    국내 시장지수
16            KBSTAR 200    국내 시장지수
17   KODEX MSCI Korea TR    국내 시장지수
..                   ...        ...
419         HK 베스트일레븐액티브    국내 시장지수
432            HK 하이볼액티브    국내 시장지수
469      ARIRANG 200동일가중    국내 시장지수
479   KBSTAR 코스닥150선물인버스    국내 시장지수
505       ARIRANG 코스닥150    국내 시장지수

[67 rows x 2 columns]

In [37]:
df["etfTabCode"].apply(find_etf_tab_name)

0       국내 시장지수
1         해외 주식
2       국내 시장지수
3            채권
4         국내 파생
         ...
507          채권
508         원자재
509    국내 업종/테마
510    국내 업종/테마
511    국내 업종/테마
Name: etfTabCode, Length: 512, dtype: object

In [ ]:
# etfTabName column이 제대로 만들어졌는지 확인합니다.

* map : 
    * Series에서만 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#applying-elementwise-functions)

* apply :
    * Series와 DataFrame 둘 다 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#row-or-column-wise-function-application)

### 컬럼명 변경하기

In [ ]:
"""종목명
현재가
전일비
등락률
NAV
3개월수익률
거래량
거래대금(백만)
시가총액(억)
"""

In [44]:
# DataFrame df의 column 이름을 list로 만들어서 cols 라는 변수에 담습니다.
# cols
cols = df.columns.tolist()
cols

['itemcode',
 'etfTabCode',
 'itemname',
 'nowVal',
 'risefall',
 'changeVal',
 'changeRate',
 'nav',
 'threeMonthEarnRate',
 'quant',
 'amonut',
 'marketSum',
 'etfTabName']

In [45]:
# 영어로 되어있는 column 이름을 한글로 바꾸기 위한 list를 만듭니다.
# 빠진 column이 있는지 리스트와 길이를 확인합니다.
col_name = """종목코드
탭코드
종목명
현재가
등락구분
전일비
등락률
순자산가치(NAV)
3개월수익률
거래량
거래대금(백만)
시가총액(억)
유형"""
col_name

'종목코드\n탭코드\n종목명\n현재가\n등락구분\n전일비\n등락률\n순자산가치(NAV)\n3개월수익률\n거래량\n거래대금(백만)\n시가총액(억)\n유형'

In [47]:
col_name = col_name.split('\n')
col_name

['종목코드',
 '탭코드',
 '종목명',
 '현재가',
 '등락구분',
 '전일비',
 '등락률',
 '순자산가치(NAV)',
 '3개월수익률',
 '거래량',
 '거래대금(백만)',
 '시가총액(억)',
 '유형']

In [48]:
# 컬럼 영문명과 한글명을 딕셔너리 형태로 만들어 비교해 볼 수도 있습니다.
# 하지만 좀 더 간단하게 여기에서는 리스트 값을 그대로 컬럼에 넣어주는 방법을 사용할거에요.
# 딕셔너리로 키-값 쌍을 만들어 컬럼의 키와 값이 잘 매치되었는지 확인해 봅니다.
dict(zip(cols, col_name))

{'itemcode': '종목코드',
 'etfTabCode': '탭코드',
 'itemname': '종목명',
 'nowVal': '현재가',
 'risefall': '등락구분',
 'changeVal': '전일비',
 'changeRate': '등락률',
 'nav': '순자산가치(NAV)',
 'threeMonthEarnRate': '3개월수익률',
 'quant': '거래량',
 'amonut': '거래대금(백만)',
 'marketSum': '시가총액(억)',
 'etfTabName': '유형'}

In [50]:
# 기존의 데이터프레임 컬럼명에 위에서 만든 컬럼명을 할당연산자로 대입해 주면 컬럼명이 변경됩니다.
# 컬럼 변경 후 한글로 컬럼명이 잘 변경되었는지 확인해 봅니다.
df.columns = col_name
df

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형
0,069500,1,KODEX 200,39420,2,400,1.03,39436.0,-9.6680,2570170,101274,48270,국내 시장지수
1,371460,4,TIGER 차이나전기차SOLACTIVE,17850,2,440,2.53,NaN,7.2716,8417623,148973,22977,해외 주식
2,102110,1,TIGER 200,39460,2,415,1.06,39472.0,-9.6074,430561,16985,21466,국내 시장지수
3,153130,6,KODEX 단기채권,102965,5,-5,0.00,102964.0,0.1215,10120,1041,21277,채권
4,252670,3,KODEX 200선물인버스2X,2245,5,-50,-2.18,2239.0,20.0534,187196187,421296,19906,국내 파생
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,397420,6,KBSTAR 국채선물5년추종,49040,2,10,0.02,49018.0,NaN,3,0,24,채권
508,334700,5,KBSTAR 팔라듐선물인버스(H),5270,2,65,1.25,NaN,23.5638,3110,16,21,원자재
509,287330,2,KBSTAR 200생활소비재,8285,2,75,0.91,8298.0,-10.0923,2404,19,20,국내 업종/테마
510,287310,2,KBSTAR 200경기소비재,11425,2,25,0.22,11416.0,-6.0058,217,2,16,국내 업종/테마
511,287320,2,KBSTAR 200산업재,11900,2,115,0.98,11893.0,-10.8615,56,0,14,국내 업종/테마

### 파생변수 만들기
* 브랜드, 인버스, 레버리지, 환헤지H 변수 만들기
* [Working with text data — pandas documentation](https://pandas.pydata.org/docs/user_guide/text.html)

In [52]:
# 종목명 column의 데이터를 space(" ")를 이용해 나누고 제일 앞부분[0]을 새로운 column을 만들어 저장하고 확인합니다.
# expand = True 옵션을 사용하면 문자열을 나눈 값을 인덱스 순서대로 가져와서 사용할 수 있습니다.
# df["브랜드"]
df["종목명"]

0                  KODEX 200
1      TIGER 차이나전기차SOLACTIVE
2                  TIGER 200
3                 KODEX 단기채권
4           KODEX 200선물인버스2X
               ...
507          KBSTAR 국채선물5년추종
508       KBSTAR 팔라듐선물인버스(H)
509          KBSTAR 200생활소비재
510          KBSTAR 200경기소비재
511            KBSTAR 200산업재
Name: 종목명, Length: 512, dtype: object

In [58]:
df["브랜드"] = df["종목명"].str.split(" ", expand=True)[0]

In [59]:
df[["종목명", "브랜드"]].head()

                     종목명    브랜드
0              KODEX 200  KODEX
1  TIGER 차이나전기차SOLACTIVE  TIGER
2              TIGER 200  TIGER
3             KODEX 단기채권  KODEX
4       KODEX 200선물인버스2X  KODEX

In [60]:
df["브랜드"].unique()

array(['KODEX', 'TIGER', 'KBSTAR', 'ARIRANG', 'KINDEX', 'HANARO', 'KOSEF',
       'SOL', 'TIMEFOLIO', '네비게이터', '파워', 'KTOP', 'FOCUS', '마이다스', 'TREX',
       '마이티', 'HK'], dtype=object)

* 종목명 column의 내용중이 '인버스'라는 단어가 있으면 새로운 column '인버스'에 True 값이 들어가게 됩니다.
* contains는 bool type을 반환하기 때문에 새로운 column에는 True나 False가 들어가게 됩니다.
* 마찬가지로 '레버리지'와 '환헤지H'에 대해서도 동일하게 만들어 줍니다. 
* H라는 단어가 종목명에 들어갈 수도 있기 때문에 H뒤에 닫는 소괄호")"까지 확인합니다.
* 소괄호는 정규표현식에서 의미를 가지는 문자이기 때문에 문자 그대로 읽어오기 위해서는 "\"로 전처리가 필요합니다.

In [61]:
# 인버스ETF는 지수가 하락하면 오히려 수익률이 오르도록 설계된 상품입니다.
# df["인버스"]
df["인버스"] = df["종목명"].str.contains("인버스")

전체 종목 중 인버스가 들어가는 종목은 42개가 분포함을 확인할 수 있다.

In [62]:
df["인버스"].value_counts()

False    470
True      42
Name: 인버스, dtype: int64

레버리지(leverage)는 타인의 자본을 지렛대처럼 이용하여 자기 자본의 이익률을 높이는 것이다. 고정비용이 있을 때 매출액의 변화가 기업의 손익에 미치는 영향을 분석하는 데에 쓰인다. 이는 고정영업비용과 고정재무비용의 부담정도에 따라 기업에게 귀속되는 최종적인 주당이익에 어떤 영향을 미치는지 분석할 수 있게 한다.

* 출처 : [레버리지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EB%A0%88%EB%B2%84%EB%A6%AC%EC%A7%80)

In [65]:
# df["레버리지"]
df["레버리지"] = df["종목명"].str.contains("레버리지")
df["레버리지"].value_counts(normalize=True)  # 비율 계산

False    0.935547
True     0.064453
Name: 레버리지, dtype: float64

헤지(hedge)란 환율, 금리 또는 다른 자산에 대한 투자등을 통해 보유하고 있는 위험자산의 가격변동을 제거하는 것을 말한다. 즉, 확정되지 않은 자산을 확정된 자산으로 편입하는 과정이라 할 수 있으며, 주로 선물 옵션과 같은 파생상품을 이용한다. 이를 통해 체계적 위험을 제거할 수 있다.

부(wealth)를 결정하는 변수값의 변화와 관계없이 항상 일정한 부를 유지하게 하는 헤지를 완전헤지라고 하고, 그렇지 못한 것을 불완전헤지라고 한다.
* 출처 : [헤지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%ED%97%A4%EC%A7%80)

In [68]:
# (H)의 의미는 환율변동 위험을 막기 위해 Hedge를 한다는 뜻입니다.
# df["환헤지H"]
df["환헤지H"] = df["종목명"].str.endswith("(H)")
df["환헤지H"].value_counts()

False    471
True      41
Name: 환헤지H, dtype: int64

### 전처리가 잘 되었는지 확인하기

In [70]:
# 등락구분에 있는 값의 빈도수를 세어봅니다.
df["등락구분"].value_counts()

2    399
5     95
3     18
Name: 등락구분, dtype: int64

In [71]:
# 전체적으로 데이터 전처리가 끝났다면 info를 통해 데이터 요약정보 보기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   종목코드        512 non-null    object
 1   탭코드         512 non-null    int64
 2   종목명         512 non-null    object
 3   현재가         512 non-null    int64
 4   등락구분        512 non-null    int64
 5   전일비         512 non-null    int64
 6   등락률         512 non-null    float64
 7   순자산가치(NAV)  363 non-null    float64
 8   3개월수익률      482 non-null    float64
 9   거래량         512 non-null    int64
 10  거래대금(백만)    512 non-null    int64
 11  시가총액(억)     512 non-null    int64
 12  유형          512 non-null    object
 13  브랜드         512 non-null    object
 14  인버스         512 non-null    bool
 15  레버리지        512 non-null    bool
 16  환헤지H        512 non-null    bool
dtypes: bool(3), float64(3), int64(7), object(4)
memory usage: 57.6+ KB

## 파일로 저장하기

In [74]:
# 기존에 불러왔던 파일명에서 _raw를 제거하고 새로운 파일명으로 저장합니다.
save_file_name = file_name.replace("_raw", "")
save_file_name

'eft_20211017.csv'

In [75]:
# pandas의 to_csv로 파일을 저장합니다.
# index=False로 인덱스값은 저장하지 않습니다.
df.to_csv(save_file_name, index=False)

In [76]:
# 저장한 파일을 읽어와서 제대로 저장되었는지 확인합니다.
# 또, 종목코드는 그냥 읽어오면 숫자 맨 앞의 0이 생략될 수 있으니 object 타입으로 불러옵니다.
pd.read_csv(save_file_name, dtype={"종목코드":np.object})

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,브랜드,인버스,레버리지,환헤지H
0,069500,1,KODEX 200,39420,2,400,1.03,39436.0,-9.6680,2570170,101274,48270,국내 시장지수,KODEX,False,False,False
1,371460,4,TIGER 차이나전기차SOLACTIVE,17850,2,440,2.53,NaN,7.2716,8417623,148973,22977,해외 주식,TIGER,False,False,False
2,102110,1,TIGER 200,39460,2,415,1.06,39472.0,-9.6074,430561,16985,21466,국내 시장지수,TIGER,False,False,False
3,153130,6,KODEX 단기채권,102965,5,-5,0.00,102964.0,0.1215,10120,1041,21277,채권,KODEX,False,False,False
4,252670,3,KODEX 200선물인버스2X,2245,5,-50,-2.18,2239.0,20.0534,187196187,421296,19906,국내 파생,KODEX,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,397420,6,KBSTAR 국채선물5년추종,49040,2,10,0.02,49018.0,NaN,3,0,24,채권,KBSTAR,False,False,False
508,334700,5,KBSTAR 팔라듐선물인버스(H),5270,2,65,1.25,NaN,23.5638,3110,16,21,원자재,KBSTAR,True,False,True
509,287330,2,KBSTAR 200생활소비재,8285,2,75,0.91,8298.0,-10.0923,2404,19,20,국내 업종/테마,KBSTAR,False,False,False
510,287310,2,KBSTAR 200경기소비재,11425,2,25,0.22,11416.0,-6.0058,217,2,16,국내 업종/테마,KBSTAR,False,False,False
511,287320,2,KBSTAR 200산업재,11900,2,115,0.98,11893.0,-10.8615,56,0,14,국내 업종/테마,KBSTAR,False,False,False